.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
docs
.venv
**/node_modules/**
.github
.devcontainer
**/tests/**
**/*.sql
**/src/**